.search-form {
  display: block;
  
background-color: blue;


}




.container {
    
    margin-left: auto;
    margin-right: auto;
   

    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

   
} 

.gallery {
    display: flex;
    flex-wrap: wrap;

    padding: 0px;
    margin: 0px;
    
    /* outline: 1px solid tomato; */

    margin-top: -10px;
    margin-left: -10px;
   
    
}



.gallery-item {
  /* height: 200px;
  width: 300px; */
    
    padding: 0px;
    
    flex-basis: calc(100% / 4 - 10px);

    margin-left: 10px;
    margin-top: 10px;

    /* outline: 1px solid green; */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    font-family: Roboto, sans-serif;
    font-weight: 400;
    }



/* .photo-card:nth-child(3n) {
    margin-right: 0;
  }
  
  .photo-card:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }  */

  img {
      display: block;
 max-width: 100%;
 height: 200px;
  }

  .info {
     display: flex;

     justify-content: center;
    align-items: center;
    
     
  }
  .info-item {
    

margin-left: 5px;
    
     
      
      
       
      /* outline: 1px solid blue; */
  }

  .load-more{
    display: block;
    
    margin-left: auto;
    margin-right: auto;

    background-color: blue;
    color: #fff;
    border-radius: 4px 4px 4px 4px;
  }

  /* .load-more.is-hidden {
display: none;
  }
   */


 